global_defs {
   enable_script_security
   script_user keepalived_script
}

vrrp_script check_haproxy {                 
    script "/home/keepalived_script/keepalived_script" 
    weight 20                              
    interval 1               
}
vrrp_instance VI_1 {             
    interface ens3
    virtual_router_id 51
    advert_int 1
    preempt                            
    {% if inventory_hostname == prioritized_keepalived %}

    priority 100
    {% else %}

    priority 90
    {% endif %}

    virtual_ipaddress {                     
        {{ first_second_ip_octet | join('.')}}.{{ third_ip_octet | int + 58 }}.{{ fourth_ip_octet }}/{{ ip_prefix }}
    }
    unicast_peer {
        {% for vm in groups['all'] %}

        {% if vm != inventory_hostname  %}

        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}
