[Unit]
Description=Send InfluxDB logs to Prometheus
After=network-online.target

[Service]
User=prometheus
ExecStart=/usr/local/bin/influx_stats_exporter

[Install]
WantedBy=multi-user.target