server {
	listen 80 default_server;
	server_name _;

  location /node-metrics {
    proxy_pass http://localhost:{{ prometheus_exporters['node']['port'] }}/metrics;
  }

{% if inventory_hostname in groups['grafana_servers'] %}
  location /prometheus {
    proxy_pass http://localhost:{{ prometheus_port }};
  }

  location /grafana {
    proxy_pass http://localhost:{{ grafana_port }};
    proxy_set_header Host $http_host;
  }
{% else %}
	
	location / {
    proxy_pass http://localhost:{{ agama_port }};
    proxy_set_header Host $http_host;
	}


	{% endif %}


}

server {
        listen {{ stub_status_port }} default_server;
        location = /stub_status {
                stub_status;
        }
}
