apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:{{prometheus_port}}/prometheus
    isDefault: true
    version: 1
    editable: true

  - name: InfluxDB for agama_client
    type: influxdb
    access: proxy
    url: {{ agac_db_url }}
    database: {{ agac_db_name }}

  - name: InfluxDB for telegraf
    type: influxdb
    access: proxy
    url: {{ telegraf_db_url }}
    database: telegraf  
    jsonData:
        httpMode: POST