acl akinet  { {{ localnetwork }}; {{ localhost }}; {{ docker_net }};};

options {
        directory "/var/cache/bind";
        forwarders {
           {% for n in dns_forwarders %}
           {{ n -}};
           {% endfor %}
        };
        allow-query { akinet; };
        dnssec-validation no;
};


key "transfer.key" {
        algorithm hmac-sha256;
        secret "{{ dns_transfer_secret }}";
};

key "nsupdate.key" {
        algorithm hmac-sha256;
        secret "{{ dns_nsupdate_secret }}";
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
