global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 5s
    scrape_timeout: 5s

    metrics_path: /prometheus/metrics
    
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  {% for job in jobs_list %}

  - job_name: {{job['name']}}
    static_configs:
      - targets:
        {%for target in groups[job['target_group']]%}

        - {{target}}:{{job['target_port']}}
        {%endfor%}
  {%endfor%}



  - job_name: backup
    static_configs:
      - targets:
        - backup.{{ domain_name }}:{{ backup_exporter_port }}

  
  
